@model projetCatalogueProduit.Models.CAT_CATEGORIE 
    @*cat_categorie qui est le nom de la classe et le nom de la table categorie et donc a chaq
        utilisation du formulaire ci-dessous(btn enregistrer, un objet categorie sera créé et transferer par le controleur*@
@{
    ViewBag.Title = "AjoutCategorie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AjoutCategorie</h2>

<div>
    <form id="formCategorie" name="formCategorie" action="" method="post">
        <div class="form-group">
            <label>CATEGORIE</label>
            <input type="text" id="LIBELLE_CATEGORIE" class="form-control" name="LIBELLE_CATEGORIE" required />
        </div>
        <div>
            <input type="submit" id="enregistrer" value=" enregistrer" class="btn btn-primary" />
        </div>
    </form>
    <hr />
    <div class="table-responsive">
        @*adaptable sur tte les plateforms*@
    <table class="table table-bordered">

        <tr>
            <th>CATEGORIE </th>
            <th>DATE SAISIE </th>
        </tr>
        @*parcours des categories et recuperation du libelle et dateSaisie*@
        @foreach(var data in ViewBag.listeCategorie)
        {
        <tr>
            <td>@data.LIBELLE_CATEGORIE</td>
            <td>@data.DATE_SAISIE</td>
        </tr>
        }
    </table>
</div>
</div>